section {
    
    // height: ;
    margin-top: 40px;
    padding-bottom: 2px;
    align-self: center;

    .content-one {
        border-radius: 5px;
        background: white;
        width: 800px;
        padding: 5px;


        .add-text {
            cursor: pointer;
            margin: 10px 0 10px 20px;
            padding: 10px;
            border-radius: 5px;
            width: fit-content;
            display: flex;
            align-items: center;
            background: blue;
            img {
                width: 15px;
                height: 15px;
                padding-right: 5px;
            }

            span {
                text-transform: capitalize;
            }
        }
    }

    .content-two {
        padding: 15px 0 10px 20px;
        margin-top: 1px;
        border-radius: 5px;
        background: white;
        width: 800px;

        

        .recently-assigned, .today, .upcoming {
            padding-top: 25px;

            hr {
                height: 3px;
                margin-right: 40px;
                background-color: black;
                // color: blue;
            }

            .special {
                height: 0.1px;
                background-color: rgba($color: #000000, $alpha: 0.2);
            }

            .header {
                display: flex;
                padding-bottom: 10px;

                img {
                    width: 20px;
                    height: 20px;
                    padding-right: 10px;
                }
    
                h3 {
                    text-transform: capitalize;
                }
            }

            .content {
                padding-top: 10px;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 40px;

                .content-left {
                    display: flex;
                    gap: 10px;


                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                .content-right {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    
                    span {
                        text-transform: capitalize;
                    }

                    span:first-child {
                        background: blue;
                        border: none;
                        border-radius: 20px;
                        padding: 5px 8px 5px 8px;
                    }

                    .brand {
                        background: orange !important;
                    }
                    .recruiting {
                        background: teal !important;
                    }
                    .mobile {
                        background: red !important;
                    }
                    .website {
                        background: rgba(255, 0, 0, 0.678) !important;
                    }
                    .sales {
                        background: lime !important;
                    }

                    .monday {
                        background: none !important;
                    }

                }
            }

        }
    }
}